{% extends "network/layout.html" %}
{% load dict_nested_lookup %}

{% block body %}
    {% if user.is_authenticated %}
    <div class="container">
        <div id="new_chirp_box">
            <form action="" method="POST">
                {% csrf_token %}
                {{ chirpform }}
                <input type="hidden" name="form_type" value="form_newchirp">
                <br>
                <input type="submit" value="Post chirp">
            </form>
        </div>
        </div>
    {% endif %}

    <br>
    {% for chirp in page_obj %}
    <div class="container">
    <div class="chirpbox" id="{{ chirp.id }}">
        <b><a href="{% url 'profile' chirp.owner %}">{{ chirp.owner }}</a></b>
        <br>
        {% if chirp.owner == user %}
            <button class="editbutton" id="{{ chirp.id }}">Edit Chirp</button>
            <br>
        {% endif %}
        <span id="chirp">{{ chirp.chirp }}</span>
        <br>
        {{ chirp.timestamp }}
        <br>
        <span id='likecount'>{{ chirp.likes }}</span>
        <button class="likebutton" id="{{ chirp.id }}">
            {% dict_nested_lookup context chirp.id 'isIn' as isliked %}
            {% if isliked == False %}
                Like
            {% else %}
                Unlike
            {% endif %}
        </button>
        <br>
    </div>
    <div class="editbox" id="{{ chirp.id }}">
        <textarea class="textedit" id="{{ chirp.id }}" rows="5" cols="30">{{ chirp.chirp }}</textarea>
        <br>
        {% if chirp.owner == user %}
            <button class="savebutton" id="{{ chirp.id }}">Save Chirp</button>
        {% endif %}
    </div>
    </div>
    {% endfor %}

    <nav aria-label="pagination">
        <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span></li>
        {% endif %}

        {% with ''|center:page_obj.paginator.num_pages as range %}
        {% for page in range %}
            <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
        {% endfor %}
        {% endwith %}
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
        {% endif %}
        </ul>
      </nav>

    {% endblock %}